body{
	background-image: url("Bg_2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
    
}
#output{
	background: white;
	border-radius: 10px;
	border-top: 10px solid #AA4465;
	padding: 10px;
	float: none;
	text-align: left;
}
#number_1 , #number_2{
	width: 900px;
	border-radius: 10px;
	background-color: blue;
	color: white;
}
h5{
	font-size: 27px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#send{
	width: 500px;
	height: 35px;
	background-color: crimson;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: darkturquoise;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}